:focus {
  outline: 0;
  border-color: #2260ff;
  -webkit-box-shadow: 0 0 0 4px #b5c9fc;
          box-shadow: 0 0 0 4px #b5c9fc;
}





.arabic-text {
  direction: rtl;
  /* Additional Arabic text styles */
}

